*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  font-family : "Poppins", sans-serif;
}
header{
  position: relative;
  left: -1%;
  font-size : 2rem;
  color: #f7fffe;
  text-align: center;
  margin: 2%;
  margin-bottom: 0;
  display: flex;
}
.App-dark{
  background-color :#1f2022;
}
.App-colorful{
  background-color: none;
  background-image: linear-gradient(120deg, rgb(241, 197, 35),rgba(244, 151, 108, 1), rgba(86, 107, 192, 1), rgb(28, 200, 223), rgb(9, 120, 126));
  background-size: 400% 100%;
  animation: gradient 8s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient{
  0% { background-position: 0%;}
  100% { background-position: 100%;}
}
header, form{
  min-height : 20vh;
  justify-content: center;
  align-items: center;
}
form{
  margin-top: 0.25%;
  display: flex;
}
form input, form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: #f7fffe;
}
form input{
  width: 40vw;
}
form button {
  color: #2378a0;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #2378a0;
  color: #f7fffe;
}
.filter-todo {
  padding: 0.7rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
select, option {
  font-size: 1rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #2378a0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 15vw;
  margin-left: 15%;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background: #f7fffe;
  color: #2378a0;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after{
  background: #2378a0;
  color: #f7fffe;
}
.todo-container{
  margin: 0.5% 2.5% 2.5% 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  min-width: 25vw;
  min-height: 10%;
  list-style-type: none;
  padding-right: 1%;
}
.todo{
  margin: 0.5rem;
  background: #f7fffe;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.todo li{
  flex: 1;
}
.todo-item{
  font-size: 100%;
  padding: 1.5%;
}
.trash-btn, .completed-btn {
  font-size: 1.5rem;
  border: none;
} 
.fa-check{
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  color: #007041;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
}
.fa-trash{
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: #f7fffe;
  color: #d80000;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
}
.fa-check:hover{
  color: #f7fffe; 
  background: #007041; 
}
.fa-trash:hover{
  color: #f7fffe;
  background: #d80000;
}
.completed-elements{
  text-decoration: line-through;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.footer{
  display: flex;
  margin-bottom: 5%;
}
.clear-all{
  position: relative;
  left: 10%;
  padding: 0.75%;
  font-family: Casandra, Roboto, sans-serif;
  font-size: 130%;
  font-weight: bold;
  color: #141414;
  text-align: center;
  min-width: 15%;
  min-height: 7vh;
  background: #ff2a3c;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.clear-all:hover{
  box-shadow:0 4px 8px 0 rgba(90, 90, 90, 0.781), 0 6px 10px 0 rgba(44, 44, 44, 0.6);
}
.theme-selector-colorful, .theme-selector-dark{
  position: relative;
  left: 60%;
  padding: 0.75%;
  font-size: 130%;
  font-family: Casandra,Roboto, sans-serif;
  font-weight: bold;
  text-align: center;
  min-width: 15%;
  min-height: 7vh;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.theme-selector-dark:hover{
  box-shadow:0 4px 8px 0 rgba(90, 90, 90, 0.781), 0 6px 10px 0 rgba(44, 44, 44, 0.6);
}
.theme-selector-colorful:hover{
  box-shadow:0 4px 8px 0 rgba(90, 90, 90, 0.781), 0 6px 10px 0 rgba(44, 44, 44, 0.6);
}
.theme-selector-colorful{
  color: #141414;
  background-image: linear-gradient(120deg, rgb(241, 197, 35),rgba(244, 151, 108, 1), rgba(86, 107, 192, 1), rgb(28, 200, 223), rgb(9, 120, 126));
  background-size: 400% 100%;
  animation: gradient 4s linear infinite;
  animation-direction: alternate;
  transition: all 0.5s ease;
}
@keyframes gradient{
  0% { background-position: 0%;}
  100% { background-position: 100%;}
}
.theme-selector-dark{
  color: #f7fffe;
  background-image: none;
  background-color:#1f2022;
  transition: all 0.5s ease, background-color 0s, color 0s;
}

@media only screen and (max-width: 1200px) {
  /* For smaller screens: */
  form input{
    width: 45vw;
  }
  select{
    width: 20vw;
  }
  .todo-item{
    font-size: 100%;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  header{
    align-self: center;
    font-size: 5vw;
    padding: 1%;
    margin: 1.25%;
  }
  form{
    display: block;
    justify-content: center;
    align-items: center;
  }
  form input{
    width: 80vw;
    margin: 5% 0% 5% 5%;
    align-self: center;
  }
  form button{
    transition: none;
    margin: 5% 0% 5% 0%;
  } 
  select{
    width: 40vw;
    margin: 1% 0% 1% 25%;
    position: relative;
    left: 4%;
    text-align: center;
  }
  .select::after{
    display: none;
  }
  .theme-selector-colorful, .theme-selector-dark, .clear-all{
    font-size: 100%;
  }
}
